





h2 {
    color: red;
}

body {
    background: beige;
    display: flex;
    justify-content: center;


& #blanc {
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    width: 70%;

& #image {
  &  img {
width:80%;
    
        border-radius: 16px;
        display: flex;
        justify-content: center;
    }
}
}
}