





h2 {
    color: red;
}

html {
    display: flex;
    justify-content: center;
}
body {
    background: beige;
    display: flex;
    justify-content: center;


& #blanc {
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;

& #image {
  &  img {

    
        border-radius: 16px;
    }
}
}
}